{
  "BOT_TOKEN": "",  
  "COMMANDS_PREFIX": "",
  "GUILD_ID": "",
  "MY_ID": "",
  "SCRIPTING_CHAN_ID": "",
  "BOT_CHAN_ID": "",
  "ADMIN_CHAN_ID": "",
  "VERIFIED_ROLE_ID": "",
  "DB_SERVER": "",
  "DB_DB": "",
  "DB_USER": "",
  "DB_PASS": ""
}