{
  "botToken": "",
  "guildId": "",
  "verifiedRoleId": "",
  "scriptingChannelId": "",
  "advertChannelId": "",
  "botChannelId": "",
  "adminChannelId": "",
  "dbServer": "",
  "dbDatabase": "",
  "dbUser": "",
  "dbPassword":  ""
}